.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  padding: 20px;
}

header {
  height: 100px;
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  cursor: pointer;
}
