header {
  height: 80px;
  background-color: #000;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

span.signIn {
  font-size: 1.3em;
  color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #000;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  transition: transform 0.2 ease;
}
img:hover {
  transform: scale(1.2);
}

h3 {
  cursor: pointer;
}
