.card {
  border: 1px solid blanchedalmond;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0);
  background-color: #000;
  color: white;
  width: 350px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-group {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}
